@{

}

<ul class="nav flex-column p-2">
    <li class="nav-item">
        <a asp-controller="Prueba" asp-action="Primero" class="nav-link text-white">Primero</a>
        <a asp-controller="Prueba" asp-action="Segundo" class="nav-link text-white">Segundo</a>
    </li>
</ul>
