<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/HotelABC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
</head>
<body>
    <div id="wrapper" class="d-flex">
        <partial name="_SidebarPartial.cshtml"/>
        <div id="content-wrapper" class="flex-grow-1 p-3">        
            <nav class="navbar navbar-expand navbar-light bg-light p-2">
                <div class="d-flex justify-content-between flex-grow-1">
                    <div class="d-flex gap-3">
                        <button id="sidebarToggle" class="btn btn-outline-dark">☰</button>
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HotelABC</a>
                    </div>
                    <partial name="_LoginPartial.cshtml"/>
                </div>
            </nav>            
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/dashboard.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
