#wrapper {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

#sidebar {
    width: 250px;
    transition: all 0.3s;
    flex-shrink: 0;
}

#sidebar.collapsed {
    width: 0;
    overflow: hidden;
}

#content-wrapper {
    width: calc(100% - 250px);
    flex-grow: 1;
    transition: margin-left 0.3s;
    /* width: 100%; */
}

#content-wrapper.expanded {
    margin-left: 0;
    width:100%;
}
